.git
.env
.env.*
vendor
node_modules
public/build
public/hot
public/storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite
Dockerfile
.dockerignore
